.DS_Store
.vscode/
.ceiba-metodo/
.github/

Tension/local.properties

Tension/**/build/
Tension/captures/
Tension/.externalNativeBuild
Tension/.cxx/

*.apk
*.ap_
*.aab
*.dex
*.class

Tension/.gradle/
Tension/gradle/wrapper/gradle-wrapper.properties
!Tension/gradle/wrapper/gradle-wrapper.jar

Tension/*.iml
Tension/.idea/workspace.xml
Tension/.idea/tasks.xml
Tension/.idea/gradle.xml
Tension/.idea/assetWizardSettings.xml
Tension/.idea/dictionaries
Tension/.idea/libraries
Tension/.idea/caches/
Tension/.idea/modules.xml
Tension/.idea/navEditor.xml
Tension/.idea/jarRepositories.xml
Tension/.idea/compiler.xml